html {
  background-color: #ddbeaa;
  height: 100vh;
}
body {
  height: 100vh;
  margin: 0;
}
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  font-size: 30px;
}
.cw1 {
  color: yellow;
}

.cw2 {
  color: green;
}

.cw3 {
  color: aquamarine;
}
